*{
  box-sizing: border-box;
}

body {
  color: blue;
}



.relative {
  position: relative;
  width: 1640px;
  height: 980px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid blue;

  div {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid red;
    background-color: white;
    cursor: pointer;
  }

  div:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 590px;
  }

  div:nth-child(2) {
    top: 0px;
    left: 330px;
    width: 320px;
    height: 350px;
  }

  div:nth-child(3) {
    top: 360px;
    left: 330px;
    width: 320px;
    height: 220px;
  }

  div:nth-child(4) {
    top: 0px;
    left: 660px;
    width: 320px;
    height: 590px;
  }

  div:nth-child(5) {
    top: 0px;
    left: 990px;
    width: 320px;
    height: 350px;
  }

  div:nth-child(6) {
    top: 360px;
    left: 990px;
    width: 320px;
    height: 220px;
  }

  div:nth-child(7) {
    top: 0px;
    left: 1320px;
    width: 320px;
    height: 590px;
  }

  div:nth-child(8) {
    top: 590px;
    left: 0px;
    width: 815px;
    height: 280px;
  }

  div:nth-child(9) {
    top: 590px;
    left: 825px;
    width: 815px;
    height: 280px;
  }
}

.relative-1 {
  position: relative;
  width: 1640px;
  height: 880px;
  top: 50px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid blue;

  .reset{
    display: inline-block;
    color: blue;
    text-align: center;
  }

  div {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid red;
    background-color: white;
    cursor: pointer;
  }

  div:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 190px;
    background-color: #ffcdd2;
  }

  div:nth-child(2) {
    top: 0px;
    left: 330px;
    width: 320px;
    height: 190px;
    background-color: #ce93d8 ;

  }

  div:nth-child(3) {
    top: 200px;
    left: 0px;
    width: 320px;
    height: 190px;
    background-color: #ff1744;
  }

  div:nth-child(4) {
    top: 200px;
    left: 330px;
    width: 320px;
    height: 190px;
    background-color: #a7ffeb ;
  }

  div:nth-child(5) {
    top: 400px;
    left: 0px;
    width: 320px;
    height: 190px;
    background-color: #26a69a;
  }

  div:nth-child(6) {
    top: 400px;
    left: 330px;
    width: 320px;
    height: 190px;
    background-color: #81c784;
  }

  div:nth-child(7) {
    top: 0px;
    left: 660px;
    width: 980px;
    height: 590px;
    background-color: #e0e0e0;
  }

  div:nth-child(8) {
    top: 600px;
    left: 0px;
    width: 815px;
    height: 280px;
    background-color: #ffcc80 ;
  }

  div:nth-child(9) {
    top: 600px;
    left: 825px;
    width: 815px;
    height: 280px;
    background-color: #81d4fa;
  }
}